p {
  font-family: "courier new";
}

#title {
  text-align: center;
  line-height: 200%;
}

#side {
  padding-left: 25%;
  margin-top: 0px;
  margin-bottom: 0px;
}

#tabbed {
  padding-left: 30%;
  margin-top: 0px;
  margin-bottom: 0px;
}

#footer {
  padding-left: 25%;
  line-height: 200%;
}

a {
  text-decoration: none;
  color: #990000;
}
